@tailwind base;
@tailwind components;
@tailwind utilities;

/* TOGGLE */
.switch {
  position: relative;
  display: inline-flex;
  align-items: center; /* Ensure vertical centering of the label and switch */
  width: 30px; /* Smaller width */
  height: 16px; /* Smaller height */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px; /* Smaller slider button */
  width: 14px; /* Smaller slider button */
  left: 2px;
  bottom: 1px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #5bc236;
}

input:checked + .slider:before {
  transform: translateX(12px); /* Adjust for smaller slider */
}

.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

/* POPUP MESSAGE */
.popup-message {
  visibility: hidden;
  width: 200px;
  height: 90px;
  background-color: rgb(226, 226, 226);
  color: #000000;
  border-radius: 8px;
  padding: 10px 10px; /* 10px top and bottom, 20px left and right */

  /* Position adjustments */
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 120%; /* May need adjustment */
  transform: translateY(-40%);
}

.popup-message-duration {
  visibility: hidden;
  width: 100px;
  height: 100px;
  background-color: rgb(226, 226, 226);
  color: #000000;
  border-radius: 8px;
  padding: 10px 10px; /* 10px top and bottom, 20px left and right */

  /* Position adjustments */
  position: absolute;
  z-index: 1;
  top: 170%;
  left: 100%; /* May need adjustment */
  transform: translateY(-40%);
}

/* POPUP WINDOW HOVER */
.popup-container {
  position: relative;
  display: inline-block;
}

.popup-container-duration {
  position: relative;
  display: inline-block;
}

.popup-container:hover .popup-message {
  visibility: visible;
}

.popup-container-duration:hover .popup-message-duration {
  visibility: visible;
}
